<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAME BREAKER</title>
</head>
    <h1>GAME BREAKER</h1>
<body>
</br><div>MENU</div>
<div></div>

h1:hover{
    background-color:rgb(79,80,42)
    color: rgb(213, 216, 179)
    text-decoration: underline

</body>
</html>