h1{
    color: rgb(0, 88, 84);
    font-family: Augustus;        
    font-size: 116px;
}
    div{
    color:rgb(245, 225, 137);
    font-size: 72px;
    font-family: Augustus;
    }
    body{
    color:aliceblue;
    background-color:black
    }
p{
    font-family: Augustus;
}

p{
    border-color:rgb(rgb(0, 128, 0), green, blue);
    border-style: solid;
    border-width: 2px;
}

h1{
    border-bottom: 2px solid rgb(255, 255, 255);
    
}


        p::first-line{
            font-size: 23px;
            background-color:rgb(22, 22, 22)
        }

        p:hover{
            font-family: 'Times New Roman', Times, serif;
            color:darkkhaki;
        }